<!-- two sub li's on first element with children -->
<ul id="menu-header" class="navbar-nav ml-auto">
    <li id="menu-item-4215"
        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4215 nav-item dropdown">
        <a href="#" class="nav-link" role="button">Films <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu  dropdown-menu--has-children">
            <div class="dropdown-menu__wrap">
                <li id="menu-item-4185"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4185 nav-item dropdown">
                    <a href="http://starterkit.local/exodus-film/" class="nav-link">Exodus Film</a>
                    <ul role="menu" class="dropdown-menu ">
                        <li id="menu-item-4186"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4186 nav-item"><a
                                href="http://starterkit.local/exodus-film/trailer-videos/" class="nav-link">Trailer
                                &amp; Videos</a></li>
                        <li id="menu-item-4187"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4187 nav-item"><a
                                href="http://starterkit.local/exodus-film/cast/" class="nav-link">Cast</a></li>
                    </ul>
                </li>

                <ul role="menu" class="dropdown-menu  dropdown-menu--has-children">
                    <div class="dropdown-menu__wrap">
                        <li id="menu-item-4270"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4270 nav-item dropdown">
                            <a href="#" class="nav-link">test</a>
                            <ul role="menu" class="dropdown-menu ">
                                <li id="menu-item-4273"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4273 nav-item">
                                    <a href="#" class="nav-link">test</a></li>
                            </ul>
                        </li>
                    </div><!-- testfasdf -->
                </ul>
                <li id="menu-item-4184"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4184 nav-item"><a
                        href="http://starterkit.local/journey/" class="nav-link">Journey</a></li>
                <li id="menu-item-366"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-366 nav-item"><a
                        href="http://starterkit.local/blog/" class="nav-link">Thinker Blog</a></li>
                <li id="menu-item-4191"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4191 nav-item dropdown">
                    <a href="http://starterkit.local/homeschool/" class="nav-link" role="button">Homeschool <span
                            class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu ">
                        <li id="menu-item-4198"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4198 nav-item"><a
                                href="http://starterkit.local/elementary/" class="nav-link">Elementary Curriculum</a>
                        </li>
                        <li id="menu-item-4201"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4201 nav-item"><a
                                href="http://starterkit.local/high-school-curriculum/" class="nav-link">High School
                                Curriculum</a></li>
                    </ul>
                </li>
                <li id="menu-item-4188"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4188 nav-item"><a
                        href="http://starterkit.local/young-explorers/" class="nav-link">Young Explorers</a></li>
                <li id="menu-item-3985"
                    class="primary-button menu-item menu-item-type-custom menu-item-object-custom menu-item-3985 nav-item">
                    <a href="https://store.patternsofevidence.com/" class="nav-link">Store</a></li>
            </div>
        </ul>
    </li>
</ul>









<!-- three li's on same level under first element -->
<ul id="menu-header" class="navbar-nav ml-auto">
    <li id="menu-item-4215"
        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4215 nav-item dropdown">
        <a href="#" class="nav-link" role="button">Films <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu  dropdown-menu--has-children">
            <div class="dropdown-menu__wrap">
                <li id="menu-item-4185"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4185 nav-item dropdown">
                    <a href="http://starterkit.local/exodus-film/" class="nav-link">Exodus Film</a>
                    <ul role="menu" class="dropdown-menu ">
                        <li id="menu-item-4186"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4186 nav-item"><a
                                href="http://starterkit.local/exodus-film/trailer-videos/" class="nav-link">Trailer
                                &amp; Videos</a></li>
                        <li id="menu-item-4187"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4187 nav-item"><a
                                href="http://starterkit.local/exodus-film/cast/" class="nav-link">Cast</a></li>
                    </ul>
                </li>

                <ul role="menu" class="dropdown-menu ">
                    <li id="menu-item-4270"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4270 nav-item"><a
                            href="#" class="nav-link">test</a></li>
                    <li id="menu-item-4273"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4273 nav-item"><a
                            href="#" class="nav-link">test</a></li>
                </ul>
            </div><!-- testfasdf -->
        </ul>
    </li>
    <li id="menu-item-4184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4184 nav-item"><a
            href="http://starterkit.local/journey/" class="nav-link">Journey</a></li>
    <li id="menu-item-366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-366 nav-item"><a
            href="http://starterkit.local/blog/" class="nav-link">Thinker Blog</a></li>
    <li id="menu-item-4191"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-4191 nav-item dropdown">
        <a href="http://starterkit.local/homeschool/" class="nav-link" role="button">Homeschool <span
                class="caret"></span></a>
        <ul role="menu" class="dropdown-menu ">
            <li id="menu-item-4198"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4198 nav-item"><a
                    href="http://starterkit.local/elementary/" class="nav-link">Elementary Curriculum</a></li>
            <li id="menu-item-4201"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4201 nav-item"><a
                    href="http://starterkit.local/high-school-curriculum/" class="nav-link">High School Curriculum</a>
            </li>
        </ul>
    </li>
    <li id="menu-item-4188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4188 nav-item"><a
            href="http://starterkit.local/young-explorers/" class="nav-link">Young Explorers</a></li>
    <li id="menu-item-3985"
        class="primary-button menu-item menu-item-type-custom menu-item-object-custom menu-item-3985 nav-item"><a
            href="https://store.patternsofevidence.com/" class="nav-link">Store</a></li>
</ul>